<mat-card>
    <mat-card-content>
        <adf-upload-drag-area
            [disabled]="isCompletedTask()"
            [rootFolderId]="taskDetails.id">
            <adf-task-attachment-list #taskAttachmentList
                [disabled]="isCompletedTask()"
                [taskId]="taskDetails.id"
                (row-click)="onSingleClick($event)"
                (attachmentClick)="onAttachmentClick($event)">
                <adf-empty-list *ngIf="!isCompletedTask()">
                    <div adf-empty-list-header id="adf-empty-list-header-id" class="adf-empty-list-header">{{'ADF_TASK_LIST.ATTACHMENT.EMPTY.HEADER' | translate}}</div>
                    <div id="adf-empty-list-body-id" adf-empty-list-body>
                        <div fxHide.lt-md="true"  id="adf-empty-list-body-drag-drop-id"  class="adf-empty-list-drag_drop">{{'ADF_TASK_LIST.ATTACHMENT.EMPTY.DRAG-AND-DROP.TITLE' | translate}}</div>
                        <div fxHide.lt-md="true" class="adf-empty-list__any-files-here-to-add">{{'ADF_TASK_LIST.ATTACHMENT.EMPTY.DRAG-AND-DROP.SUBTITLE' | translate}}</div>
                    </div>
                    <div fxHide.xs adf-empty-list-footer>
                        <img class="adf-empty-list__empty_doc_lib" [src]="emptyListImageUrl">
                    </div>
                </adf-empty-list>
            </adf-task-attachment-list>
        </adf-upload-drag-area>
    </mat-card-content>
    <mat-card-actions *ngIf="showCreateAttachButton()" fxLayout="row" fxLayoutAlign="flex-end" >
        <adf-create-task-attachment id="dw-create-attachment-id"
            [taskId]="taskDetails.id"
            (success)="onUploadSuccess($event)">
        </adf-create-task-attachment>
    </mat-card-actions>
</mat-card>

