.dw {

    &-setting {
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 1;
    
        &-button {
            background: rgb(68,138,255);
            border-radius: 100px;
            min-width: 0px;
            padding: 10px 16px;
            color: #fff;
        }
    }

}

@media (min-width: 721px) {
    .mobile-settings {
        display: none;
    }
}

@media (max-width: 720px) {
    .settings {
        display: none;
    }
}

