.dw {
    &-profile-menu-list>mat-list-item {
        cursor: pointer; 
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #000;
        opacity: 0.54;
        &:hover {
            color: #ff9100;
            background: whitesmoke; 
        }
    }

    &-profile-menu {
        color: #fff;
    }
}